<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Cafe Nevermind</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

	</head>
	<body style='background-color: #191919; color: white; text-align: center; margin-top: 115px; '>
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Cafe <span>Nevermind</span></a></div>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="beans.html">Direct import</a></li>
					<li><a href="coffee.html">Our Coffee</a></li>
					<li><a href="about.html">About Us</a></li>
				</ul>
			</nav>


		<h2 style='font-size: 200%'>This was just an example of web-site. <br/> For further details<br/>
		please contact me at <br/>
		<span style='font-weight: bold;'>alexander.w.jv@gmail.com</span> <br/>
		
		</h2>

	</body>
</html>